{% extends "base.html.twig" %}

{% block title %}Accès refusé{% endblock %}

{% block body %}

    <div class="container">
        <h1>Alors ? On veux tout casser ?!</h1>
        
        <div class="alert alert-danger">
            <p>
                Vous n'avez pas l'autorisation d'accéder à cette page !!
            </p>
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retourner vers la page d'accueil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-success">Voir nos dernières annonces</a>
    </div>

{% endblock %}